body {
  padding: 0;
  margin: 0;
}

.link-wrapper {
  text-align: center;
}

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 60px;
  background-color: lightskyblue;
  border-radius: 50%;
  text-align: center;
  padding-top: 40px;
}

.circle:hover {
  cursor: -webkit-grab;
}

.circle:active {
  cursor: -webkit-grabbing;
  opacity: 0.5;
}